body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_bar{
    height:80px ;
    width: 100%;
    background-color: #073f68;
    margin-top: 2*px;
    display: flex;
    justify-content: space-around;
}


.logo{}
    .logo img{
height: 80px;
    }


    .menu ul li{
        list-style-type: none;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        
    }
    .menu a{
      color: white;
      font-size: 20px;
      text-decoration: none;
      box-sizing: border-box;
      padding: 10px;
      transition: 0.5s;
    }
    .menu i{
        display: none;
    }

    .menu li:hover a{
      color: #073f68;
      background-color: white;
      border-radius: 20px;
    }

    /* galeri alanı */

    .galeri{
        background:url("img/k2.jpeg");
    width: 100%; 
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.galeri .web{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.galeri a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);

}

.galeri a:hover{
   color: #073f68;
   background-color: white;
   padding: 10px;
}

.web h4{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
/* orta alan */
.orta_alan{
    display: flex;
    width: 95%;
    justify-content: space-around;
}
.orta{
    width: 22%;
    border: 2px solid gray; 
    border-radius: 15px;
    margin: 2% 0;
    box-sizing:border-box ;
    background-image: linear-gradient(gray, darkblue);
    



}
.orta .icerik{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.orta p{text-indent: 15px
}
.orta img{width: 50%
}

.alt_alan{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    background-color:#171717 ;
    color: white;
}
.alt_alan .icerik{
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-family: monospace;
}
.alt_alan .social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid white;
}
 .alt_alan i{
     margin: 20px;
 }
 .alt_alan a{
     color: white;
 }

 /* @media (max-width:576px); */

 /* Tablet modu için gerekli kodlar */

@media (max-width:992px){
.orta_alan{
    flex-wrap: wrap;
    
}
.orta{
    width: 48%;
}
.orta img{
    width: 30%;
}
}

 /* cep telefonu modu için gerekli kodlar */

@media (max-width:768px){
.menu_bar{
    justify-content: space-between;
}
.menu_bar .logo{
    margin-left: 10% ;
}
.menu_bar .menu{
    margin-right: 10% ;
 
}

    .menu ul{
        display: none;
    }
    .menu i{
        display: block;
   
    cursor: pointer;
    color: white;
    font-size: 30px;
    border:1px solid white;
    padding: 5px;
    border-radius: 15%;
    margin-top: 50%;
 }
 .orta{width: 100%;}
 .orta .icerik{flex-direction: row;}
 .icerik img, h3 ,p{
     padding: 1%;
 }

 .alt_alan{  height: 100vh;}
 .alt_alan .icerik{
     display: flex;
     width: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }
}
